.App {
  text-align: left;
  padding: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #247;
  height:60px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background: #555;
  align: center;
  color: white;
  font-size: large;
}

.button_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
